$btn-padding: $base-spacing-small;
$btn-padding--large: $btn-padding*2;
$btn-padding--small: $btn-padding/2;
$btn-padding--tiny: $btn-padding/4;
$btn-radius: $base-border-radius;

.o-btn,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	background-color: $brand-primary;
	border: 1px solid $brand-primary;
	border-radius: $base-border-radius;
	color: $brand-primary__text;
	cursor: pointer;
	display: inline-block;
	font-size: $base-font-size;
	font-weight: 400;
	// height: 3.8rem;
	padding: $btn-padding $btn-padding*2;
	text-align: center;
	text-decoration: none;
	user-select: none;
	white-space: nowrap;

	&:focus,
	&:hover {
		background-color: $brand-primary--light;
		border-color: $brand-primary--light;
		color: $brand-primary__text;
		outline: 0;
	}

	&[disabled] {
		cursor: default;
		opacity: .5;

		&:focus,
		&:hover {
			background-color: $brand-primary;
			border-color: $brand-primary;
		}
	}
}

.o-btn--wide {
  padding: $btn-padding $btn-padding;
}

.o-btn--large {
  padding: $btn-padding--large $btn-padding--large*2;
}

.o-btn--small {
  padding: $btn-padding--small $btn-padding--small*2;
}

.o-btn--tiny {
  padding: $btn-padding--tiny $btn-padding--tiny*2;
}

.o-btn--full {
  width: 100%;
}

.expand {
	width: 100%;

	@include breakpoint(tablet-portrait-up) {
		width: auto;
	}
}
