code {
	background: $brand-primary--light;
	border-radius: $base-border-radius;
	font-size: 86%;
	margin: 0 $base-spacing-tiny;
	padding: $base-spacing-tiny base-spacing-small;
	white-space: nowrap;
}

pre {
	background: $brand-tertiary--light;
	border-left: 2px solid $brand-primary;
	overflow-y: hidden;

	& > code {
		border-radius: 0;
		display: block;
		padding: $base-spacing;
		white-space: pre;
	}
}
