dl,
ol,
ul {
	list-style: none;
	margin-top: 0;
	padding-left: 0;

	dl,
	ol,
	ul {
		font-size: 90%;
		margin: $base-spacing-small 0 $base-spacing-small $base-spacing;
	}
}

ol {
	list-style: decimal inside;
}

ul {
	list-style: circle inside;
}
