table {
	border-spacing: 0;
	width: 100%;
}

td,
th {
	border-bottom: 1px solid $brand-primary;
	padding: $base-spacing-small;
	text-align: left;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}
