$panel-width: 380px;

.c-layout-main {
  position: relative;

  > section {

  }
}

.c-layout-main__middle {
  position: relative;
}

.c-layout-main__left-column,
.c-layout-main__right-column {
  position: relative;
  padding: $base-spacing;
}

.c-layout-main__left-column {
  
}

.c-layout-main__right-column {

  margin-right: -#{$panel-width};
  transition: margin-right 200ms linear, width 200ms linear;
  width: $panel-width;

  &--open {
    margin-right: 0;
  }

  &--open-wide {
    width: $panel-width*2;
    margin-right: 0;
  }
}