.o-light {
  background: $light-background;
  color: $light-text;
  
  h1, h2, h3, h4, h5, h6 {
    color: $light-header;
  }

  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='url'],
  textarea,
  select {
    appearance: none;
    border-color: $light-input-background;
    background-color: $light-input-background;
    color: $light-input-text;

    &:focus {
      // border-color: $color-primary;
      outline: 0;
    }

    &[disabled] {
      border-color: $light-input-background;
      background-color: $light-input-disabled-background;
      color: $light-input-disabled-text;      
    }
  }

  select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#0e2f3a" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
    background-color: $light-input-background;
    &:focus {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#0e2f3a" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
    }
  }
}
